@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#window-controls:hover #WindowControlIcon {
  opacity: 0.6;
}

.blahaj {
  white-space: pre;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  line-height: 1.1;
}

.blahaj .c1 { color: var(--c1); }
.blahaj .c2 { color: var(--c2); }
.blahaj .c3 { color: var(--c3); }
.blahaj .c4 { color: var(--c4); }
.blahaj .c5 { color: var(--c5); }
.neofetch   span.neofetchtext {
    color: rgb(220, 63, 54);
  }